@*@model ASP.Net_QuestRoom_App.Data.Entities.QuestRoom*@
@model CreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>QuestRoom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestRoom.Name" class="control-label"></label>
                <input asp-for="QuestRoom.Name" class="form-control" />
                <span asp-validation-for="QuestRoom.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.About" class="control-label"></label>
                <input asp-for="QuestRoom.About" class="form-control" />
                <span asp-validation-for="QuestRoom.About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.TravelTime" class="control-label"></label>
                <input asp-for="QuestRoom.TravelTime" class="form-control" />
                <span asp-validation-for="QuestRoom.TravelTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.MinPlayers" class="control-label"></label>
                <input asp-for="QuestRoom.MinPlayers" class="form-control" />
                <span asp-validation-for="QuestRoom.MinPlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.MaxPlayers" class="control-label"></label>
                <input asp-for="QuestRoom.MaxPlayers" class="form-control" />
                <span asp-validation-for="QuestRoom.MaxPlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.MinAgePlayers" class="control-label"></label>
                <input asp-for="QuestRoom.MinAgePlayers" class="form-control" />
                <span asp-validation-for="QuestRoom.MinAgePlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.Address" class="control-label"></label>
                <input asp-for="QuestRoom.Address" class="form-control" />
                <span asp-validation-for="QuestRoom.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.PnonesDb" class="control-label"></label>
                <input asp-for="QuestRoom.PnonesDb" class="form-control" />
                <span asp-validation-for="QuestRoom.PnonesDb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.Email" class="control-label"></label>
                <input asp-for="QuestRoom.Email" class="form-control" />
                <span asp-validation-for="QuestRoom.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.Company" class="control-label"></label>
                <input asp-for="QuestRoom.Company" class="form-control" />
                <span asp-validation-for="QuestRoom.Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.Rating" class="control-label"></label>
                <input asp-for="QuestRoom.Rating" class="form-control" />
                <span asp-validation-for="QuestRoom.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.LevelOfFear" class="control-label"></label>
                <input asp-for="QuestRoom.LevelOfFear" class="form-control" />
                <span asp-validation-for="QuestRoom.LevelOfFear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestRoom.DefficultyLevel" class="control-label"></label>
                <input asp-for="QuestRoom.DefficultyLevel" class="form-control" />
                <span asp-validation-for="QuestRoom.DefficultyLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" type="file" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
